:root{
  --max-width: 1200px;
  --main-text-color: #161616
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/TTHoves-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'parisienne';
  src: url('/parisienne.woff2') format('woff2');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  letter-spacing: -0.07rem;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select{
  padding: .5rem 0;
}

table{
  width: 100%;
}
td{
  border: 1px solid black;
  padding: 1rem;
}

