.accomodations{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    overflow: hidden;
    min-height: 100vh;
}
.container{
    width: 90%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}
