.guestlist{
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    max-width: var(--max-width);


}

.table{
    margin: 1rem 0;
    font-size: .6rem;
}
